// main.scss 



/* 

  Reset

*/

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

img  {
  width: 100%;
  display: block;
}

/* 

  Variables

*/

$brand-colors: (
  'first': #5890A8,
  'second': #FBCF5E
);

$brand-fonts: (
  'first': (Open Sans, sans-serif),
  'second': (Bebas Neue, sans-serif),
  'third': (Old Standard TT, serif),
);

// Bootstrap Breakpoints
// src: https://getbootstrap.com/docs/4.1/layout/grid/
// - modified: included xxl breakpoint
$breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Extra Extra large screen
  xxl: 1800px
);

/* 

  Mixins

*/

// Media Queries Mixins
@mixin for-sm-up {
  @media only screen and (min-width: map-get($breakpoints, 'sm' )) {
    @content;
  }  
}

@mixin for-md-up {
  @media only screen and (min-width: map-get($breakpoints, 'md' )) {
    @content;
  }  
}

@mixin for-lg-up {
  @media only screen and (min-width: map-get($breakpoints, 'lg' )) {
    @content;
  }  
}

@mixin for-xl-up {
  @media only screen and (min-width: map-get($breakpoints, 'xl' )) {
    @content;
  }  
}

@mixin for-xxl-up {
  @media only screen and (min-width: map-get($breakpoints, 'xxl' )) {
    @content;
  }  
}

@mixin flex-center {
  // center horizontally and vertically
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-base {
  height: 50px;
  width: 130px;
  @include flex-center;
}

@mixin link-base {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: map-get($brand-fonts, first);
  font-size: 15px;
  font-weight: 600;
  @include flex-center;
}

/* 

  Utils

*/

.top-buffer {
  margin-top: 15px;
}

/* 

  Menu

*/

.MenuWrapper {
  background-color: map-get($brand-colors, first);
}

.Menu {
  font-family: map-get($brand-fonts, second);
  height: 70px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__listItem {
    width: 110px;
    text-align: center;

    &:not(:first-child) {
      border-left: 1px solid white;
    }
  }

  &__link {
    color: white;
    letter-spacing: 0.1rem;
    transition: color ease 0.5s;
    padding: 5px;
    &:hover {
      color: map-get($brand-colors, second) !important;
    }
  }
}

/* 

  Hero

*/

.HeroWrapper {
  background-color: map-get($brand-colors, first);
  padding-bottom: 50px;
}

.Hero {

  &__heading {
    font-family: map-get($brand-fonts, second);
    color: map-get($brand-colors, second);
    margin-top: 80px;
    font-size: 4.3rem;
  }

  &__subHeading {
    font-family: map-get($brand-fonts, third);
    color: white;
    font-size: 2.1rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__authors {
    font-family: map-get($brand-fonts, first);
    color: white;
    margin-top: 20px;
    font-size: 1.3rem;
  }

  &__buttonsWrapper {
    display: flex;
    margin-top: 45px;
  }

  &__bookButton {
    //background-color: white;
    border: 1px solid white;
    margin-right: 10px;
    @include button-base;
  }

  &__bookLink {
    //color: rgba(black, 0.7) !important;
    color: white;
    @include link-base;
    font-weight: 300;
    &:visited {
      //color: rgba(black, 0.7) !important;
      color: white;
    }
  }

  &__chapterButton {
    border: 1px solid white;
    background-color: white;
    @include button-base;
  }

  &__chapterLink {
    color: rgba($color: #000000, $alpha: 0.7);
    @include link-base;
    font-weight: 600;
    &:visited {
      color: rgba($color: #000000, $alpha: 0.7);
    }
  }

  &__bookImage {
    margin-top: 40px;
  }
}

/* 

  hr - horizontal rule

*/

hr {
  background-color: map-get($brand-colors, second);
  height: 10px;  
  width: 100%;
  margin: 0 !important;
  border: none;
}

/* 

  Quote

*/


.QuoteWrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.Quote {
  &__mark {
    font-family: map-get($brand-fonts, second);
    font-size: 16rem;
    text-align: center;
    width: 100%;
    height: 190px;
    color: map-get($brand-colors, second)
  }

  &__quote {
    font-family: map-get($brand-fonts, third);
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__author {
    margin-top: 20px;
    font-family: map-get($brand-fonts, first);
    text-align: center;
    width: 100%;
  }

  &__author {
    margin-top: 10px;
    font-family: map-get($brand-fonts, first);
    text-align: center;
    width: 100%;
  }

  &__authorBooks {
    font-family: map-get($brand-fonts, first);
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    margin-top: 4.6px;
  }
}

/* 

  Embedded Video

*/

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 

  Webinars Section

*/

.WebinarsSection {
  background-color: map-get($brand-colors, first);
  padding-top: 35px;
  padding-bottom: 35px;

  &__heading {
    color: map-get($brand-colors, second);
    font-family: map-get($brand-fonts, second);
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
}

.WebinarsWrapper {
  margin-top: 55px;
}

.Webinar {
  border: 1px solid white;
  padding-top: 40px;
  padding-bottom: 30px;

  &__list {
    margin: 0;
    padding: 0;
    color: white;
  }

  &__name {
    font-family: map-get($brand-fonts, third);
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__date {
    font-family: map-get($brand-fonts, first);
    font-weight: 300;
    font-size: 1rem;
  }

  &__time {
    font-family: map-get($brand-fonts, first);
    font-weight: 300;
    font-size: 1rem;
  }

  &__buttonWrapper {
    width: 100%;
    margin-top: 20px;
    @include for-sm-up {
      margin-top: 0;
      @include flex-center;
      // overrule the justify-content:: center
      justify-content: right;
    }
  }

  &__button {
    @include button-base;
    color: white;
    border: 1px solid white;
  }

  &__link {
    @include link-base;
    color: white;
    font-weight: 300;
    &:hover {
      color: white;
    }
  }
}

/* 

  Why  

*/

.WhyWrapper {
  background-color: #f1e8c8;
}

.Why {
  padding: 25px 0;

  &__sectionHeading {
    /* color: map-get($brand-colors, second); */
    color: #519cb2;
    font-family: map-get($brand-fonts, second);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  &__imageWrapper {
    margin-bottom: 35px;
  }

  &__image {
    opacity: 0.9;
  }

  &__text {
    font-family: map-get($brand-fonts, first);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}

/* 

  Logo

*/

.LogoWrapper {
  background-color: rgba($color: #000000, $alpha: 0.2);
  padding-top: 30px;
  padding-bottom: 20px;
  
}