/* main.scss */

img  {
  width: 100%;
  display: block;
}

.Hero {
  margin-top: 50px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

hr {
  border-top: 50px solid rgba(251,207,94);
}

.WhyWeWrote {
  height: 300px;
  background: linear-gradient(to right, rgb(89, 168, 195), rgba(89, 168, 195, 0.2), rgba(89, 168, 195, 0.1)), url(./assets/authors.png);
  background-size: cover;
  background-position: center;
}

.WhyWeWrote h3{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px !important;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;;
}

.Webinars {
  height: 200px;
  background: linear-gradient(to right, rgb(89, 168, 195), rgba(89, 168, 195, 0.2), rgba(89, 168, 195, 0.1));
}

.Webinars h3 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px !important;
}

ul {
  margin-top: 20px;
  padding-left: 0;
}

li {
  list-style-type: none;
}

li:nth-of-type(1) {
  font-weight: bold;
}