/* style.css */

.navbar {
  background-color: #5890a8;
}

.navbar a {
  color: #fbcf5e;
  font-family: 'Bebas Neue', sans-serif;
}

.navbar a:visited {
  color: #fbcf5e;
}

img  {
  width: 100%;
  display: block;
}

.Hero {
  margin-top: 50px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}